<div class="mt-1">
    <el-checkbox v-model="showTable.showCategory">Hiển Thị Danh Mục</el-checkbox>
    <el-checkbox v-model="showTable.showTime">Hiển Thị Thời Gian</el-checkbox>
    <el-checkbox v-model="showTable.showPrice">Hiển Thị Giá Cả</el-checkbox>
    <el-checkbox v-model="showTable.showDescribe">Hiển Thị Mô Tả</el-checkbox>
    <el-checkbox v-model="showTable.showUser">Hiển Thị Người Dùng</el-checkbox>
</div>